body {
margin: 0;
text-align: center;
font-family: 'Heebo', sans-serif;
color: #40514E;
}

hr {
  display: block;
  width: 7%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: dotted none none none;
  border-width: 10px;
  color:#e5e5e3;
}

.top-text {
padding: 150px 0 0 0;
}

.top-container {
background-color:#edf7f3;
margin: 0;
}


span {
text-decoration: underline;
}

.top-cloud {
position: absolute;
right: 300px;
top: 100px;
}

.bottom-cloud {
position: absolute;
left: 200px;
top: 450px;
}

.sapling {
margin-top: 100px;
width:50%;
}

h1 {
font-family: 'Kaushan Script', cursive;
font-size: 5.6rem;
color:#66BFBF;
}

h2 {
font-family: 'Heebo', sans-serif;
font-size: 2.5rem;
color:#66BFBF;
}

h3 {
font-family: 'Heebo', sans-serif;
font-size: 2rem;
color:#11999E;
}

.programmer {
font-weight: normal;
}
.avatar-png {
padding: 40px;
}

.skill-row {
width: 50%;
margin: 100px auto;
line-height: 2;
}

.skill-row-pics {
display: inline-block;
}

.music {
position: relative;
right: 50px;
width: 25%;
height: 100%;

}

.flute {
position: relative;
width: 25%;
}

.soap {
width: 30%;
}

.sticker {
display: inline;
}

.garden {
width: 100%;
}


.contact-me {
width: 40%;
margin: 40px auto;
}


.btn {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #7bc1db 5%, #408c99 100%);
	background-color:#7bc1db;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Heebo', sans-serif;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.btn:hover {
	background:linear-gradient(to bottom, #408c99 5%, #7bc1db 100%);
	background-color:#408c99;
}
.btn:active {
	position:relative;
	top:1px;
}

        



.bottom-container {
	background-color: #66BFBF;
	padding:60px 0px 20px;
}

.footer-link {
	padding: 15px;
	color: #11999E;
	text-decoration: none;
}

.footer-link:hover  {
	color: #EAF6F6;
}

.copyright {
	color: #EAF6F6;
	font-size: .75rem;
}


/*
@media only screen and (max-width: 800px) {
	font-size: 20rem;
}

*/
